@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #ede6dd;
  --darker-color: #9b8670;
  --darkred-color: rgb(185 28 28);
}

@layer components {
  .hoverEffect {
    @apply relative h-[18px] w-[18px];
  }

  .hoverEffect::after {
    @apply content-[''] h-[2px] w-[0%] left-0 -top-2 rounded-xl absolute duration-300;
  }

  .hoverEffect:hover::after {
    @apply w-[100%];
  }

  .dancingFont {
    font-weight: 500;
    line-height: 60px;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);
  }

  .subtitle-white {
    font-size: 19px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    text-transform: lowercase;
  }
}
