@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Marcellus&family=Merriweather:wght@400;700&family=Poppins:wght@400;500;600&family=Raleway:wght@400;600;700&display=swap');

:root {
  --light-color: #ede6dd;
  --darker-color: #9b8670;
  --darkred-color: rgb(185 28 28);
}

@layer components {
  .hoverEffect {
    @apply relative h-[18px] w-[18px];
  }

  .hoverEffect::after {
    @apply content-[''] h-[1px] w-[0%] left-0 -top-2 rounded-xl absolute duration-300;
  }

  .hoverEffect:hover::after {
    @apply w-[100%];
  }
}
